<div class="logo">
    <h3>Cotação Preço Ideal</h3>
</div>

<nav>

    <a href="#" class="menu-item active" data-page="dashboard">
        <i class="fa-solid fa-chart-line"></i>
        Dashboard
    </a>

    <a href="#" class="menu-item" data-page="produtos">
        <i class="fa-solid fa-box"></i>
        Produtos
    </a>

    <a href="#" class="menu-item" data-page="fornecedores">
        <i class="fa-solid fa-users"></i>
        Fornecedores
    </a>

    <a href="#" class="menu-item" data-page="cotacoes">
        <i class="fa-solid fa-file-invoice-dollar"></i>
        Cotações
    </a>

    <a href="#" class="menu-item" data-page="relatorios">
        <i class="fa-solid fa-chart-column"></i>
        Relatórios
    </a>

    <a href="#" class="menu-item" data-page="configuracoes">
        <i class="fa-solid fa-gear"></i>
        Configurações
    </a>

</nav>